<body>
    <footer class="border-top">
        <div class="f-info">
            <div class="f-links-social">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="f-info-brand">
                &copy;Wonderlust Private Ltd
            </div>
            <div class="f-links">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
        </div>
    </footer>
</body>